name: Push to Docker Hub

on:
  push:
    tags:
      - '*'

jobs:
  push:
    runs-on: ubuntu-22.04
    steps:
      -
        name: Checkout
        uses: actions/checkout@v6
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Generate meta data
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.DOCKERHUB_USERNAME }}/imagemagick
          tags: |
            type=ref,event=tag,priority=900
            type=match,pattern=(\d+\.\d+\.\d+)-\d+,group=1,priority=830
            type=match,pattern=(\d+\.\d+)\.\d+-\d+,group=1,priority=820
            type=match,pattern=(\d+)\.\d+\.\d+-\d+,group=1,priority=810
      -
        name: Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
